    #left{
        
        float: left;
        width: 25%;
        background-color: rgb(44, 247, 247);
        
    }

    #middle{
        text-align: center;
        float: left;
        width: 15%;
        font-family: Arial, Helvetica, sans-serif;
        color: black;
        background-color: rgb(44, 247, 247);
        font-size: 20px;
        
        
        
    }

    #right{
       
        text-align: center;
        float: right;
        width: 60%;
        background-color: rgb(44, 247, 247);
        font-size: 20px;
        color: lightslategray;
        word-spacing: 30px;
    }

    p1{
        font-size: 40px;
        
    }

    p2{ 
    
    font-size: 20px;
    color: black;
    
    }

    section{
    float: right;
    background-color: rgba(173, 233, 233, 0.411);
    padding: 50px;
    margin: 120px;
    }

    #mypic{
    
    float: right;
    width: 250px;
    height: 250px;

}

